/* CUSTOM CSS CLASSES IN ADDITION TO TAILWIND CLASSES */

.App {
  text-align: center;
  color: #242221;
}

/* UTILS */

.test {
  background-color: aquamarine;
}

/* NAVIGATION & FOOTER */

.nav {
  padding-left: none;
}

.nav-list, .footer-list {
  list-style: none;
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-around;
  padding-left: 0;
}

.footer {
  display: flex;
  justify-content: center;
}

.footer-list {
  width: 30%;
  justify-content: space-around;
}

/* SECTION STYLES */

.content {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.content-title {
  width: 50%;
  border-bottom: solid #ffb4a2;
  padding-bottom: .5rem;
  margin-bottom: 1rem;
}